  <a
    href="https://wa.me/541171352734?text=<%= encodeURIComponent(strings.whatsapp.message) %>"
    class="whatsapp-button"
    aria-label="<%= strings.whatsapp.label %>"
    target="_blank"
    rel="noopener"
  >
    <img src="/img/whatsapp-icon.webp" alt="WhatsApp" class="whatsapp-icon">
  </a>
